<div>
</div>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://cdn-s-www.ledauphine.com/images/3941B2AB-35A8-403F-9AE0-2B79E7B9314A/NW_raw/des-jupes-laterales-specifiques-en-carbone-ont-ete-integrees-sur-l-alpine-a110-r-pour-etendre-le-plancher-plat-vers-l-exterieur-grace-a-cette-surface-prolongee-l-air-devient-moins-turbulent-tout-le-long-de-la-voiture-en-limitant-les-perturbations-dans-le-soubassement-1674482616.jpg);">
  <div class="container">
    <h1><strong>CAR RENTAL<strong> Book a car now and enjoy easy travels !</h1>
    <p>Explore new horizons with our wide range of available cars.</p>

    <div class="row">
      <div class="col-4">
        <%= simple_form_for :search, url: cars_path, method: :get do |f| %>
          <div class="search-form-control form-group">

            <%= text_field_tag :city,
                params[:city],
                class: "form-control string required",
                placeholder: "City ex : Rennes"
            %>
            <button name="button" type="submit" class="btn btn-flat">
                <i class="fas fa-search text-dark"></i><span class="text-dark">Search</span>
            </button>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
